<h1>Rotten Mangoes</h1>
<hr>
<%= link_to "Create a Moive!", new_movie_path %>
<hr>
<%= form_tag search_movies_path, method: 'get' do %>
  <%= search_field(:search, :data, placeholder: "Search with Title or Director") %>
  <%= submit_tag "Search" %>
<% end %>
<hr>
<% @movies.each do |movie| %>
  <%= render partial: "movies", locals: {movie: movie} %>
<% end %>
