<h1>Rotten Mangoes</h1>
<hr>
<%= link_to "Create a Moive!", new_movie_path %>
<hr>
<!-- <%= form_tag search_movies_path, method: 'get' do %>
  <%= search_field(:search, :attr, placeholder: "Search by") %>
  <%= select_tag(:search_options, options_for_select([["Title", :title], ["Director", :director], ["Duration", :duration]])) %>
  <%= submit_tag "Search" %>
<% end %> -->
<%= form_tag search_movies_path, method: 'get' do %>
  <%= search_field(:title, :attr, placeholder: "Title") %>
  <%= search_field(:director, :attr, placeholder: "Director") %>
  <%= select_tag(:duration_option, options_for_select([
    ["Less than 90minutes", :under_90],
    ["Between 90min and 120min", :between_90_120], ["Over 120min", :over_120]])) %>
  <%= submit_tag "Search" %>
<% end %>
<hr>
<% @movies.each do |movie| %>
  <h2><%= link_to movie.title, movie_path(movie) %></h2>
  <div><%= image_tag movie.image_url.to_s %></div>
  <p><%= movie.description %></p>
  <p><%= movie.runtime_in_minutes %></p>
  <p><%= formatted_date(movie.release_date) %></p>
  <small>- <%= movie.director %></small>
  <p><%= movie.review_average %>/10</p>
<% end %>
