<h1>Rotten Mangoes</h1>
<hr>
<%= link_to "Create a Moive!", new_movie_path %>
<hr>
<% @movies.each do |movie| %>
  <h2><%= link_to movie.title, movie_path(movie) %></h2>
  <p><%= movie.description %></p>
  <p><%= movie.runtime_in_minutes %></p>
  <p><%= formatted_date(movie.release_date) %></p>
  <small>- <%= movie.director %></small>
  <p><%= movie.review_average %>/10</p>
<% end %>
<% form_tag( action: :index, method: "get") do %>
  <%= label_tag "title"%>
  <%= radio_button_tag(:sort, "title") %>
  <%= radio_button_tag(:sort, "release_date, DESC") %>
  <%= radio_button_tag(:sort, "reviews") %>
  <%= submit_tag "Sort By:" %>
<% end %>
